In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.4     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [5]:
complaints_police <- read_csv('../data/complaints_police.csv')
head(complaints_police)

── Column specification ────────────────────────────────────────────────────────
cols(
  salary = col_double(),
  year = col_double(),
  cleaned_rank = col_character(),
  link_UID = col_double(),
  complaints_per_year = col_double(),
  race = col_character(),
  gender = col_character(),
  birth_year = col_double(),
  org_hire_date = col_date(format = ""),
  start_date = col_date(format = ""),
  resignation_date = col_date(format = ""),
  approx_age = col_double(),
  approx_years_service = col_double()
)

  salary year cleaned_rank   link_UID complaints_per_year race     gender
1 87048  2011 POLICE OFFICER  9432    0                   HISPANIC MALE
2 70296  2006 POLICE OFFICER 12009    0                   HISPANIC MALE
3 74178  2008 POLICE OFFICER 18909    0                   WHITE    MALE
4 70296  2005 POLICE OFFICER   785    0                   WHITE    MALE
5 72726  2006 POLICE OFFICER 11141    3                   WHITE    FEMALE
6 72726  2006 POLICE OFFICER 20518    0                   WHITE    FEMALE
  birth_year org_hire_date start_date resignation_date approx_age
1 1956       1987-04-13    1987-04-13 2014-05-15       55
2 1970       1997-03-17    1997-03-17 2007-06-17       36
3 1967       1996-05-06    1996-05-06 <NA>             41
4 1953       1992-06-29    1992-06-29 2016-08-23       52
5 1961       1992-06-29    1992-06-29 2017-05-15       45
6 1970       1992-01-02    1992-01-02 <NA>             36
  approx_years_service
1 24
2  9
3 12
4 13
5 14
6 14

In [34]:
salary_reg <- lm(complaints_per_year ~ salary, data = complaints_police)
broom::tidy(salary_reg) %>% mutate_if(is.numeric, round, 10)

  term        estimate      std.error    statistic p.value
1 (Intercept)  1.202662e+00 2.370954e-02  50.72482  0.000000e+00
2 salary      -9.258197e-06 3.185082e-07 -29.06737 5.161322e-185

In [30]:
summary(complaints_police$salary)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  36984   68262   74628   73773   80724  122100

In [33]:
gender_reg <- lm(complaints_per_year ~ gender, data = complaints_police)
broom::tidy(gender_reg) %>% mutate_if(is.numeric, round, 10)

  term        estimate  std.error  statistic p.value
1 (Intercept) 0.3178655 0.00625087 50.8514   0
2 genderMALE  0.2708372 0.00724179 37.3992   0

In [18]:
race_reg <- lm(complaints_per_year ~ race, data = complaints_police)
broom::tidy(race_reg) %>% mutate_if(is.numeric, round, 10)

  term                               estimate     std.error  statistic
1 (Intercept)                         0.484044460 0.01936704 24.9932119
2 raceBLACK                          -0.007738139 0.02027131 -0.3817286
3 raceHISPANIC                        0.080116902 0.02059220  3.8906432
4 raceNATIVE AMERICAN/ALASKAN NATIVE  0.140294164 0.05605848  2.5026395
5 raceWHITE                           0.043087168 0.01989989  2.1651967
  p.value
1 0.0000000000
2 0.7026634744
3 0.0001000412
4 0.0123286304
5 0.0303748969

In [20]:
age_reg <- lm(complaints_per_year ~ approx_age, data = complaints_police)
broom::tidy(age_reg) %>% mutate_if(is.numeric, round, 10)

  term        estimate    std.error    statistic p.value
1 (Intercept)  1.41850508 0.0145207751  97.68797 0
2 approx_age  -0.02146552 0.0003386851 -63.37899 0

In [23]:
service_reg <- lm(complaints_per_year ~ approx_years_service, data = complaints_police)
broom::tidy(service_reg) %>% mutate_if(is.numeric, round, 10)

  term                 estimate    std.error    statistic p.value
1 (Intercept)           0.82386514 0.0059313613 138.89984 0
2 approx_years_service -0.02424592 0.0004018979 -60.32856 0

In [19]:
gender_race_reg <- lm(complaints_per_year ~ gender + race, data = complaints_police)
broom::tidy(gender_race_reg) %>% mutate_if(is.numeric, round, 10)

  term                               estimate   std.error   statistic
1 (Intercept)                        0.24549407 0.020313743 12.085123
2 genderMALE                         0.26848952 0.007325208 36.652821
3 raceBLACK                          0.05813627 0.020221403  2.874987
4 raceHISPANIC                       0.10719787 0.020473545  5.235921
5 raceNATIVE AMERICAN/ALASKAN NATIVE 0.17428111 0.055706877  3.128538
6 raceWHITE                          0.07269184 0.019788823  3.673379
  p.value
1 0.0000000000
2 0.0000000000
3 0.0040412613
4 0.0000001645
5 0.0017572664
6 0.0002394846

In [22]:
demographics_reg <- lm(complaints_per_year ~ gender + race + approx_age, data = complaints_police)
broom::tidy(demographics_reg) %>% mutate_if(is.numeric, round, 10)

  term                               estimate    std.error   statistic
1 (Intercept)                         1.10426768 0.024305367  45.433081
2 genderMALE                          0.25309984 0.007198067  35.162197
3 raceBLACK                           0.15280524 0.019917450   7.671928
4 raceHISPANIC                        0.09871730 0.020106638   4.909687
5 raceNATIVE AMERICAN/ALASKAN NATIVE  0.17232048 0.054707288   3.149863
6 raceWHITE                           0.10848885 0.019442351   5.580027
7 approx_age                         -0.02124098 0.000343420 -61.851322
  p.value
1 0.0000000000
2 0.0000000000
3 0.0000000000
4 0.0000009136
5 0.0016339323
6 0.0000000241
7 0.0000000000

In [35]:
salary_demographics_reg <- lm(complaints_per_year ~ salary + gender + race + approx_age + approx_years_service, data = complaints_police)
broom::tidy(salary_demographics_reg) %>% mutate_if(is.numeric, round, 10)

  term                               estimate      std.error    statistic
1 (Intercept)                         0.2854789402 0.0395367138   7.220604
2 salary                              0.0000091404 0.0000004469  20.450975
3 genderMALE                          0.2642201711 0.0071981633  36.706610
4 raceBLACK                           0.1792712929 0.0198751963   9.019850
5 raceHISPANIC                        0.1201941332 0.0200634359   5.990705
6 raceNATIVE AMERICAN/ALASKAN NATIVE  0.1955189225 0.0545250220   3.585857
7 raceWHITE                           0.1459333527 0.0194445995   7.505084
8 approx_age                         -0.0123781899 0.0006043453 -20.481983
9 approx_years_service               -0.0211164391 0.0008213905 -25.708162
  p.value
1 0.0000000000
2 0.0000000000
3 0.0000000000
4 0.0000000000
5 0.0000000021
6 0.0003361275
7 0.0000000000
8 0.0000000000
9 0.0000000000